
.volume-step-box-wrap {
    &:after {
        content: 'Or';
        margin-top: -166px;
        position: absolute;
        background: white;
        padding: 16px;
        text-transform: uppercase;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-weight: 900;
        margin-left: -35px;
        line-height: 200%;
    }
}


.volume-field-wrap {
    position: relative;

    input {
        background:white;
    }

    .volume-unit {
        position: absolute;
        top: 10px;
        right: 14px;
    }
}
.volume-step-box {
    position: relative;
    background: #f3f4f8;
    min-height: 254px;
    padding: 40px 20%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



    h4 {
        font-size:14px;

    }
}

.box-title {
    color: #5b6981;
    font-size: 20px;
    font-weight:400;

}
