$red: #fe374f;
$blue: #2db2d1;

//Background
$lightYellow: #f6f5f0;
$lightGreyBG: #e5e5e5;
$greyBG: #69717d;
$darkGreyBG: #49515e;

//текст:
$white: #fff;
$darkGrey: #666;
$textGrey: #918e7e;
$lightGrey: #cfd3da;
