$red: #fe374f;
$blue: #2db2d1;
$recentList: #f6f5f0;
$quotesBackground: #eae8df;
$tabsBlock: #f7f7f7;
$tabsBorder: #2cafd0;

//текст:
$white: #fff;
$titleSmall: #383a35;
$title: #636560;
$txt: #84837c;
$grey: #859295;
$post: #b5b3a8;
$price: #717780;
$quotesTxt: #918e7e;
$rating: #209afd;
$unActiveTab_txt: #a3a3a3;
$articleRef: #666666;
$footerTxtColor: #cfd3da;
$footerCopyright: #2db2d3;
