$MontFont: Mont, sans-serif;
$Nunito: "Nunito", sans-serif;
$Lato: "Lato", sans-serif;
$HelveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$segoeuiRegular: "segoeuiRegular";
$segoe_uilight: "segoe_uilight";
