// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'theme-1';
/*
// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';*/


/*
.u-header,
.u-sidebar {
    z-index: 1002;
}
*/


#app {
    min-height:100vh;
    padding-bottom:350px;

    @media (max-width: 900px) {
        & {
            padding-bottom: 600px;
        }
    }

    @media (max-width: 500px) {
        & {
            padding-bottom: 1000px;
        }
    }
}

.custom-control-label:before {
    top: 0.15rem;
}

.custom-control-label:after {
    top: 0.15rem;
}

.modal.modal-fullscreen .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    height: 100vh;
    border-radius: 0;
    border: none;
}

.modal.modal-fullscreen .modal-body {
    overflow-y: auto;
}

#app {
    & > footer {
        position: absolute;
        width: 100%;
        min-height: 300px;
        bottom: 0px;
    }

}
